sudosu/__pycache__/
sudosu/.DS_Store
sudosu/sudosu/__pycache__/
sudosu/sudosu/core/__pycache__/
sudosu/sudosu/commands/__pycache__/
sudosu/sudosu/ui/__pycache__/
sudosu/sudosu/core/__pycache__/
sudosu/sudosu/tools/__pycache__
sudosu/sudosu/ui/__pycache__
sudosu/sudosu/commands/__pycache__
sudosu/sudosu/integrations/__pycache__
sudosu/sudosu/integrations/__pycache__